<div class="content-block">
  <div class="dx-card responsive-paddings">
    <div>
      <h4 class="content-block">Ajouter Risque</h4>
    </div>
    <form (submit)="ajouter($event)">
      <dx-form  [formData]="risque">
        <dxi-item dataField="risque" [editorOptions]="{ stylingMode: 'filled', placeholder: 'Risque', mode: '',width: '500px'  }">
          <dxi-validation-rule type="required" message="Risque is required"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="description" [editorOptions]="{ stylingMode: 'filled', placeholder: 'Description', mode: '',width: '1000px' }">
          <dxi-validation-rule type="required" message="Description is required"></dxi-validation-rule>
        </dxi-item>
       <dxi-item>
         <div style="display: flex;justify-content: center">
           <h2 class="content-block">Ajouter Controle Medicale</h2>
           <dx-button style="margin-top: 20px" icon="add" (click)="changeAjouterControleMedicale()"></dx-button>
         </div>
       </dxi-item>
        <dxi-item *ngIf="risque.periodiciteRisqueDtos.length!=0">
          <dx-data-grid class="dx-card wide-card"
                        [dataSource]="risque.periodiciteRisqueDtos"
                        [showBorders]="false"
                        [focusedRowEnabled]="true"
                        [focusedRowIndex]="0"
                        [columnAutoWidth]="true"
                        [columnHidingEnabled]="true"
                        keyExpr="idPeriodicite">

            <dxo-paging [pageSize]="6"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
            <dxo-filter-row [visible]="true"></dxo-filter-row>

            <dxi-column
              dataField="ControleMedicale"
              caption="controle"
              [width]="260"
              [hidingPriority]="2">
            </dxi-column>
            <dxi-column
              dataField="periodicite"
              caption="Periodicite"
              [width]="150"
              [hidingPriority]="2">
            </dxi-column>
            <dxi-column caption="Suprimmer" [width]="120" cellTemplate="Modifier"></dxi-column>
            <div *dxTemplate="let data of 'Modifier'">
                <dx-button cellTemplate="Modifier"
                           icon="remove"
                           hint="Supprimer"
                           (click)="delete(data)">
                </dx-button>
            </div>
          </dx-data-grid>
        </dxi-item>
        <dxi-item
          itemType="button"
          [buttonOptions]="submitButtonOptions">
        </dxi-item>
      </dx-form>
      <dx-button style="margin-top: -75px;margin-left: 83%" type="default" text="Retour" routerLink="/listRisque"></dx-button>
    </form>
  </div>
</div>

<dx-popup
  [width]="800"
  [height]="420"
  [showTitle]="true"
  title="Ajouter Controle Medicale"
  [dragEnabled]="false"
  [showCloseButton]="true"
  [(visible)]="ajouterControleMedicale"
>
  <form >
      <dx-form  [formData]="lignPeriode">
        <p class="content-block">Ajouter Les Controles Medicale</p>
        <dxi-item itemType="group" [colSpan]="3">
          <dxi-item dataField="controleMedicale" editorType="dxSelectBox">
            <dx-select-box
              [dataSource]="analyse"
              valueExpr="controle"
              displayExpr="controle"
              [(value)]="lignPeriode.controleMedicale"
              [searchEnabled]="true">
            </dx-select-box>
            <dxi-validation-rule type="required" message="Controle Medicale is required"></dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="periodicite" editorType="dxSelectBox">
            <dx-select-box
              [dataSource]="periodicite"
              [(value)]="lignPeriode.periodicite"
              [searchEnabled]="true">
            </dx-select-box>
            <dxi-validation-rule type="required" message="Periodicite is required"></dxi-validation-rule>
          </dxi-item>
          <dxi-item style="display: flex;justify-content: flex-end">
            <dx-button text="Ajouter" (click)="addControleMedicale()"></dx-button>
          </dxi-item>
        </dxi-item>
      </dx-form>
  </form>
</dx-popup>

